<div class="container">
  <h2>Sensor Details</h2>
  <hr>

  <div class="panel panel-default">
    <div class="panel-heading"><h2><%= @sensor.name %></h2></div>
    <table class="table">
      <tr>
        <td>Description: <%= @sensor.description %></td>
      </tr>
      <tr>
        <td>Kind: <%= @sensor.kind %></td>
      </tr>
      <tr>
        <td>Pin connection: <%= @sensor.pin %></td>
      </tr>
      <% if @sensor.pin == 3 %>
        <tr>
          <td>
          LCD Commands <br>
          <button type="button" class="btn-lg btn-danger"><%= link_to "Seven Multi-color RGB LCD", rgb_multicolor_rgblcds_path(@sensor, :id => @sensor.id) %></button>
          <button type="button" class="btn-lg btn-success"><%= link_to "LCD Green On", rgb_green_rgblcds_path(@sensor, :id => @sensor.id) %></button>
          <button type="button" class="btn-lg btn-danger"><%= link_to "LCD Red On", rgb_red_rgblcds_path(@sensor, :id => @sensor.id) %></button>
          <button type="button" class="btn-lg btn-default"><%= link_to "LCD Blue On", rgb_blue_rgblcds_path(@sensor, :id => @sensor.id) %></button>
          <button type="button" class="btn-lg btn-info"><%= link_to "LCD Cyan On", rgb_cyan_rgblcds_path(@sensor, :id => @sensor.id) %></button>
          <button type="button" class="btn-lg btn-warning"><%= link_to "LCD Yellow On", rgb_yellow_rgblcds_path(@sensor, :id => @sensor.id) %></button>
          <button type="button" class="btn-lg btn-info"><%= link_to "LCD Magenta On", rgb_magenta_rgblcds_path(@sensor, :id => @sensor.id) %></button>
          <button type="button" class="btn-lg btn-success"><%= link_to "LCD White On", rgb_white_rgblcds_path(@sensor, :id => @sensor.id) %></button>
          <button type="button" class="btn-lg btn-default"><%= link_to "LCD Off", rgb_off_rgblcds_path(@sensor, :id => @sensor.id) %></button>
          </td>
        </tr>
      <% elsif @sensor.pin == 2 %>
        <tr>
          <td>
          FAKE Large Fan Commands (still building Large Fan) <br>
          <button type="button" class="btn-lg btn-primary">Blow Paper Away</button>
          <button type="button" class="btn-lg btn-warning">Blow Cats and Dogs Away</button>
          <button type="button" class="btn-lg btn-danger">Blow Humans Away</button>
          </td>
        </tr>
      <% else %>
        <tr>
          <td>
          LCD Commands <br>
          <button type="button" class="btn-lg btn-default"><%= link_to "Run Blinking LCD", lcd_wink_lcds_path(@sensor, :id => @sensor.id) %></button>
          <button type="button" class="btn-lg btn-success"><%= link_to "LCD On", lcd_on_lcds_path(@sensor, :id => @sensor.id) %></button>
          <button type="button" class="btn-lg btn-danger"><%= link_to "LCD Off", lcd_off_lcds_path(@sensor, :id => @sensor.id) %></button>
          </td>
        </tr>
      <% end %>
    </table>
  </div>

  <hr>
  <h3><%= link_to "Go Home", sensors_path %></h3>
</div>
