<div class="container">
  <h2>Sensor Details</h2>
  <hr>

  <div class="panel panel-default">
    <div class="panel-heading"><h2><%= @sensor.name %></h2></div>
    <table class="table">
      <tr>
        <td>Description: <%= @sensor.description %></td>
      </tr>
      <tr>
        <td>Kind: <%= @sensor.kind %></td>
      </tr>
      <tr>
        <td>Pin connection: <%= @sensor.pin %></td>
      </tr>
      <tr>
        <td>
        Sensor Commands
        <button type="button" class="btn-lg btn-default"><%= link_to "Run Blinking LCD", lcd_wink_lcds_path(@sensor, :id => @sensor.id) %></button>
        <button type="button" class="btn-lg btn-info"><%= link_to "Sensor On", lcd_on_lcds_path(@sensor, :id => @sensor.id) %></button>
        <button type="button" class="btn-lg btn-default"><%= link_to "Sensor Off", lcd_off_lcds_path(@sensor, :id => @sensor.id) %></button>
        </td>
      </tr>
      <tr>
        <td>
        Bonus Command
        <button type="button" class="btn-lg btn-danger"><%= link_to "Multi-color RGB LCD sensor", rgb_multicolor_lcds_path(@sensor, :id => @sensor.id) %></button>
        </td>
      </tr>
    </table>
  </div>

  <hr>
  <h3><%= link_to "Go Home", sensors_path %></h3>
</div>
