<div class="container">
  <h2>Sensor Details</h2>
  <hr>

  <div class="panel panel-default">
    <div class="panel-heading"><h2><%= @sensor.name %></h2></div>
    <table class="table">
      <tr>
        <td>Description: <%= @sensor.description %></td>
      </tr>
      <tr>
        <td>Kind: <%= @sensor.kind %></td>
      </tr>
      <tr>
        <td>Pin connection: <%= @sensor.pin %></td>
      </tr>
      <tr>
        <td><button type="button" class="btn-lg btn-default"><%= link_to "Run LCD Blinking", sensors_path %><button type="button" class="btn-lg btn-info"><%= link_to "LCD On-Off Switch", sensors_path %><button type="button" class="btn-lg btn-default"><%= link_to "Another LCD script", sensors_path %></td>
      </tr>
    </table>
  </div>

  <hr>
  <h3><%= link_to "Go Home", sensors_path %></h3>
</div>
